{{> header}}

<h1>Travel</h1>

{{#each trips}}
  <div class="trip">
    <h2><a href="/api/trips/{{this.code}}">{{this.name}}</a></h2>
    <p><strong>Location:</strong> {{this.resort}}</p>
    <p><strong>Price:</strong> {{this.perPerson}}</p>
    <p><strong>Duration:</strong> {{this.length}}</p>
    <p>{{this.description}}</p>
  </div>
{{/each}}

{{> footer}}
